* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}

.board {
  height: 500px;
  width: 580px;
  background-color: rgb(126, 126, 240);
  border: 10px solid navy;

  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ball {
  height: 70px;
  width: 70px;
  background-color: #fff;
  margin: 5px;
  border-radius: 50%;
  border: 5px solid navy;
  animation: fadeInAnimation ease 0.75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.winner{
  height: 50px;
  width: 400px;
  text-align: center;
}

.inner-ball {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: drop 0.75s linear;
  z-index: -1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes drop {
  0% {
    transform: translateY(-800px);
  }

  100% {
    transform: translateY(0px);
  }
}

.red {
  background-color: red;
}

.win {
  color: green;
  font-size: 35px;
}

.yellow {
  background-color: yellow;
}

#output,
#player,
#output,
#column,
#log,
#oponent {
  display: none;
}

.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.ai {
  background: rgb(253, 247, 68);
  color: black;
}
.reset {
  background: rgb(9, 211, 46);
  color: rgb(255, 255, 255);
}

.btn {
  margin: 20px 0;

}

.pushable:active .front {
  transform: translateY(-2px);
}